# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

[package]
name = "minimal_rt_reloc"
edition.workspace = true
rust-version.workspace = true

[dependencies]

[lints]
workspace = true
